<!DOCTYPE html>

<html lang="en">


    <head>

        <meta charset='UTF-8'>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, inital-scale=1">

        <title>Springer FREE books - COVID-19</title>

    </head>


    <body>

        <h1>
            <center>
                Download Springer Publishing books <b><u>FREE</u></b>!!!
            </center>
        </h1>

        <hr>

        <h2>About</h2>
        
        <p>In response to the SARS-CoV-2 pandemic Springer Publishing is 
        giving away 400+ books totally FREE. The books are kind of difficult
        to acquire. Hence, the purpose of this website: compiling all of the 
        FREE (English) books into just one concise location, arranged by 
        subject (scroll down.)</p>
        
        <p>
        Alternatively you can use my FREE web crawler to automated download all 
        400+ (English) books at once (requires Python 3.8):
        </br>
        <center>
            <a href="https://github.com/chris-hamberg/springer_books.git">
                <u><b>AUTOMATED DOWNLOAD ALL 400+ BOOKS</u></b>
            </a>
        </center>
        </br>
        </p>

        <p>
        <em>
        See the official press release from Springer, here: 
        <a href="https://group.springernature.com/gp/group/media/press-releases/freely-accessible-textbook-initiative-for-educators-and-students/17858180?utm_medium=social&utm_content=organic&utm_source=facebook&utm_campaign=SpringerNature_&sf232256230=1">Springer Press Release</a>
        </em>
        </p>

        <p><em>Information Resource:
        <a href="https://www.springernature.com/gp/librarians/news-events/all-news-articles/industry-news-initiatives/free-access-to-textbooks-for-institutions-affected-by-coronaviru/17855960">
            datasets pertaining to all FREE books.
        </a></em>
        </br>
        </p>

        {% block content %}
        {% endblock %}

        <div class="container">
            <hr>
            <footer>
                <center>
                    <p>&copy; 2020</p>
                </center>
            </footer>
        </div>


    </body>

</html>
