{% extends "base.html" %}
{% block content %}

<hr>

<a href="{{ url_for('index') }}"><< BACK TO INDEX</a>

<hr>

<h1><center>{{ subject }} Books</center></h1>

    {% for book in books[subject] %}
        <hr>

        <h3>{{ book.name }}</h3>

        <img src="static/images/{{ book.image}}" />

        <p><u>DOWNLOAD</u>:

        {% if book.pdf %}
            <a href="{{ book.pdf }}">PDF</a>
        {% endif %}

        {% if book.epub %}
            <a href="{{ book.epub }}">EPUB</a>
        {% endif %}

        {% if not book.pdf and not book.epub %}
            <em>unavailable.</em>
        {% endif %}

        </p>

    {% endfor %}

{% endblock %}